Repository glue-viz/glue-jupyter, pull requests merged in 2022-12, with the labels that each got.

#340 Ignore ipywidgets 8.0 self-deprecation warnings
  .github/workflows/ci_workflows.yml
  setup.cfg
Labels: testing, skip-changelog

#338 Fix bug where empty histogram layer does not redraw
  glue_jupyter/bqplot/histogram/layer_artist.py
  glue_jupyter/bqplot/histogram/tests/test_viewer.py
Labels: bug, bqplot-viewers

#334 Allow adjusting z-order for scatter and histogram layers
  glue_jupyter/bqplot/histogram/layer_artist.py
  glue_jupyter/bqplot/histogram/tests/test_viewer.py
  glue_jupyter/bqplot/scatter/layer_artist.py
  glue_jupyter/bqplot/scatter/tests/test_viewer.py
  glue_jupyter/common/state_widgets/layer_histogram.py
  glue_jupyter/common/state_widgets/layer_scatter.py
  glue_jupyter/widgets/layer_options.py
  glue_jupyter/widgets/layeroptions.vue
Labels: enhancement, bqplot-viewers

#341 Updated ipyvolume and scikit-image requirements for numpy 1.24 compatibility
  setup.cfg
Labels: Upstream fix required
