Repository glue-viz/glue-jupyter, pull requests merged in 2023-08, with the labels that each got.

#375 Restore, but deprecate BqplotScatterLayerState
  glue_jupyter/bqplot/scatter/layer_artist.py
Labels: bug, bqplot-viewers

#379 Raise DeprecationWarning for BqplotScatterLayerState
  glue_jupyter/bqplot/scatter/layer_artist.py
Labels: bug, bqplot-viewers, skip-changelog

#376 Allow enforcing exactly circular ROI in draw tool
  glue_jupyter/bqplot/common/tools.py
  glue_jupyter/bqplot/image/viewer.py
  glue_jupyter/bqplot/tests/test_bqplot.py
Labels: bug, bqplot-viewers, ui

#384 Keep `scatter_mark.fill` updated from `self.state.fill`
  glue_jupyter/bqplot/scatter/layer_artist.py
Labels: bug, bqplot-viewers

#383 Prevent destruction of `CircularAnnulusROI` by resizing below `inner_radius`
  glue_jupyter/bqplot/common/tools.py
  glue_jupyter/bqplot/image/viewer.py
  glue_jupyter/bqplot/tests/test_bqplot.py
Labels: bug, user interface, bqplot-viewers

#391 Complement BqplotLassoMode with genuine PolygonMode and enable dragging with BrushSelector
  glue_jupyter/bqplot/common/tools.py
  glue_jupyter/bqplot/image/viewer.py
  glue_jupyter/bqplot/scatter/viewer.py
  glue_jupyter/icons/glue_polygon.svg
  glue_jupyter/ipyvolume/common/tools.py
Labels: bug, enhancement, bqplot-viewers, ui

#396 Preserve rotation angle under dragging for ellipse and rectangle selection tools
  glue_jupyter/bqplot/common/tools.py
Labels: enhancement, bqplot-viewers, ui

#395 Fix issues with adjusting min/max values for size and cmap
  glue_jupyter/common/state_widgets/layer_scatter.vue
  glue_jupyter/state_traitlets_helpers.py
Labels: bug, ui
