Repository glue-viz/glue-jupyter, pull requests merged in 2023-12, with the labels that each got.

#414 Remove runipy from test requirements
  setup.cfg
Labels: testing, no-changelog-entry-needed

#412 Fix support for bitmap_visible in image viewer
  glue_jupyter/bqplot/image/layer_artist.py
Labels: bug, bqplot-viewers

#409 Make use of latest improvements to custom stretches in glue-core
  glue_jupyter/bqplot/image/layer_artist.py
  glue_jupyter/bqplot/scatter/layer_artist.py
  glue_jupyter/tests/images/py311-test-visual.json
  setup.cfg
Labels: enhancement, bqplot-viewers
