Repository glue-viz/glue-jupyter, pull requests merged in 2023-09, with the labels that each got.

#394 Make bqplot linear scatter sizes more closely match matplotlib viewer
  glue_jupyter/bqplot/scatter/layer_artist.py
  glue_jupyter/tests/images/py311-test-visual.json
Labels: bug, bqplot-viewers

#398 Added implementation of lines in scatter viewer
  glue_jupyter/bqplot/compatibility.py
  glue_jupyter/bqplot/scatter/layer_artist.py
  glue_jupyter/bqplot/scatter/tests/test_viewer.py
  glue_jupyter/common/state_widgets/layer_scatter.py
  glue_jupyter/common/state_widgets/layer_scatter.vue
Labels: enhancement, bqplot-viewers, ui

#400 Expose opacity in profile viewer
  glue_jupyter/common/state_widgets/layer_profile.vue
Labels: enhancement, bqplot-viewers

#399 Allow native aspect ratio in ipyvolume viewers
  glue_jupyter/common/state3d.py
  glue_jupyter/ipyvolume/common/viewer.py
  glue_jupyter/ipyvolume/common/viewer_options_widget.py
Labels: enhancement, ipyvolume
