Repository glue-viz/glue-jupyter, pull requests merged in 2024-02, with the labels that each got.

#422 Use ``mpl.colormaps.get_cmap`` for compatibility with matplotlib 3.9
  glue_jupyter/state_traitlets_helpers.py
  glue_jupyter/utils.py
Labels: bug, matplotlib-viewers

#420 Set `InteractCheckableTool._roi` to `None` on `deactivate`
  glue_jupyter/bqplot/common/tools.py
Labels: bug, bqplot-viewers, priority-high

#419 Set Bqplot*Modes to observe only one `selected` state in BrushSelector
  glue_jupyter/bqplot/common/tools.py
Labels: bug, bqplot-viewers
